.progress,
.bar {
  box-shadow: none;
}
.bar {
  background-color: #1ab394;
}
.small,
.small .bar {
  height: 10px;
}
.small,
.mini {
  margin-top: 5px;
}
.mini,
.mini .bar {
  height: 5px;
  margin-bottom: 0;
}
.navyLight {
  background-color: #3dc7ab;
}
.success {
  background-color: #1c84c6;
}
.info {
  background-color: #23c6c8;
}
.warning {
  background-color: #f8ac59;
}
.danger {
  background-color: #ed5565;
}