.fa {
  float: right;
  line-height: 1.42857;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arrowLeft:before {
  content: "\f104";
}
.arrowRight:before {
  content: "\f107";
}

