
.btn{
    border-radius: 3px;
}
.default {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}
.primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.primary.outline{
    color: #1ab394;
}
.success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}
.success.outline{
    color: #1c84c6;
}
.info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}
.info.outline{
    color: #23c6c8;
}
.warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF;
}
.warning.outline{
    color: #f8ac59;
}
.danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFFFFF;
}
.danger.outline{
    color: #ed5565;
}
.link {
    color: inherit;
}
.link, .link.active, .link:active, .link[disabled], fieldset[disabled] .link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.primary.outline:hover,
.success.outline:hover,
.info.outline:hover,
.warning.outline:hover,
.danger.outline:hover {
  color: #fff;
}
.primary:hover,
.primary:focus,
.primary:active,
.primary.active,
.open .dropdown-toggle.primary,
.primary:active:focus,
.primary:active:hover,
.primary.active:hover,
.primary.active:focus {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.primary:active,
.primary.active,
.open .dropdown-toggle.primary {
  background-image: none;
}
.primary.disabled,
.primary.disabled:hover,
.primary.disabled:focus,
.primary.disabled:active,
.primary.disabled.active,
.primary[disabled],
.primary[disabled]:hover,
.primary[disabled]:focus,
.primary[disabled]:active,
.primary.active[disabled],
fieldset[disabled] .primary,
fieldset[disabled] .primary:hover,
fieldset[disabled] .primary:focus,
fieldset[disabled] .primary:active,
fieldset[disabled] .primary.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
.success:hover,
.success:focus,
.success:active,
.success.active,
.open .dropdown-toggle.success,
.success:active:focus,
.success:active:hover,
.success.active:hover,
.success.active:focus {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}
.success:active,
.success.active,
.open .dropdown-toggle.success {
  background-image: none;
}
.success.disabled,
.success.disabled:hover,
.success.disabled:focus,
.success.disabled:active,
.success.disabled.active,
.success[disabled],
.success[disabled]:hover,
.success[disabled]:focus,
.success[disabled]:active,
.success.active[disabled],
fieldset[disabled] .success,
fieldset[disabled] .success:hover,
fieldset[disabled] .success:focus,
fieldset[disabled] .success:active,
fieldset[disabled] .success.active {
  background-color: #1f90d8;
  border-color: #1f90d8;
}
.info:hover,
.info:focus,
.info:active,
.info.active,
.open .dropdown-toggle.info,
.info:active:focus,
.info:active:hover,
.info.active:hover,
.info.active:focus {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
}
.info:active,
.info.active,
.open .dropdown-toggle.info {
  background-image: none;
}
.info.disabled,
.info.disabled:hover,
.info.disabled:focus,
.info.disabled:active,
.info.disabled.active,
.info[disabled],
.info[disabled]:hover,
.info[disabled]:focus,
.info[disabled]:active,
.info.active[disabled],
fieldset[disabled] .info,
fieldset[disabled] .info:hover,
fieldset[disabled] .info:focus,
fieldset[disabled] .info:active,
fieldset[disabled] .info.active {
  background-color: #26d7d9;
  border-color: #26d7d9;
}
.default:hover,
.default:focus,
.default:active,
.default.active,
.open .dropdown-toggle.default,
.default:active:focus,
.default:active:hover,
.default.active:hover,
.default.active:focus {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.default:active,
.default.active,
.open .dropdown-toggle.default {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.default.disabled,
.default.disabled:hover,
.default.disabled:focus,
.default.disabled:active,
.default.disabled.active,
.default[disabled],
.default[disabled]:hover,
.default[disabled]:focus,
.default[disabled]:active,
.default.active[disabled],
fieldset[disabled] .default,
fieldset[disabled] .default:hover,
fieldset[disabled] .default:focus,
fieldset[disabled] .default:active,
fieldset[disabled] .default.active {
  color: #cacaca;
}
.warning:hover,
.warning:focus,
.warning:active,
.warning.active,
.open .dropdown-toggle.warning,
.warning:active:focus,
.warning:active:hover,
.warning.active:hover,
.warning.active:focus {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #FFFFFF;
}
.warning:active,
.warning.active,
.open .dropdown-toggle.warning {
  background-image: none;
}
.warning.disabled,
.warning.disabled:hover,
.warning.disabled:focus,
.warning.disabled:active,
.warning.disabled.active,
.warning[disabled],
.warning[disabled]:hover,
.warning[disabled]:focus,
.warning[disabled]:active,
.warning.active[disabled],
fieldset[disabled] .warning,
fieldset[disabled] .warning:hover,
fieldset[disabled] .warning:focus,
fieldset[disabled] .warning:active,
fieldset[disabled] .warning.active {
  background-color: #f9b66d;
  border-color: #f9b66d;
}
.danger:hover,
.danger:focus,
.danger:active,
.danger.active,
.open .dropdown-toggle.danger,
.danger:active:focus,
.danger:active:hover,
.danger.active:hover,
.danger.active:focus {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #FFFFFF;
}
.danger:active,
.danger.active,
.open .dropdown-toggle.danger {
  background-image: none;
}
.danger.disabled,
.danger.disabled:hover,
.danger.disabled:focus,
.danger.disabled:active,
.danger.disabled.active,
.danger[disabled],
.danger[disabled]:hover,
.danger[disabled]:focus,
.danger[disabled]:active,
.danger.active[disabled],
fieldset[disabled] .danger,
fieldset[disabled] .danger:hover,
fieldset[disabled] .danger:focus,
fieldset[disabled] .danger:active,
fieldset[disabled] .danger.active {
  background-color: #ef6776;
  border-color: #ef6776;
}
.link:hover,
.link:focus,
.link:active,
.link.active,
.open .dropdown-toggle.link {
  color: #1ab394;
  text-decoration: none;
}
.link:active,
.link.active,
.open .dropdown-toggle.link {
  background-image: none;
}
.link.disabled,
.link.disabled:hover,
.link.disabled:focus,
.link.disabled:active,
.link.disabled.active,
.link[disabled],
.link[disabled]:hover,
.link[disabled]:focus,
.link[disabled]:active,
.link.active[disabled],
fieldset[disabled] .link,
fieldset[disabled] .link:hover,
fieldset[disabled] .link:focus,
fieldset[disabled] .link:active,
fieldset[disabled] .link.active {
  color: #cacaca;
}
.circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.block {
    display: block;
    width: 100%;
}
.circle.lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.rounded {
    border-radius: 50px;
}
.minSize {
  min-width: 120px;
}
.floatMargin{
    margin-bottom: 5px;
    margin-left: 5px;
}
.dim.large {
  width: 90px;
  height: 90px;
  font-size: 42px;
}
.dim {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 20px !important;
}
.dim:active {
  top: 3px;
}
.primary.dim {
  box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 10px 5px #999999;
}
.primary.dim:active {
  box-shadow: inset 0 0 0 #16987e, 0 2px 0 0 #16987e, 0 5px 3px #999999;
}
.default.dim {
  box-shadow: inset 0 0 0 #b3b3b3, 0 5px 0 0 #b3b3b3, 0 10px 5px #999999;
}
.default.dim:active {
  box-shadow: inset 0 0 0 #b3b3b3, 0 2px 0 0 #b3b3b3, 0 5px 3px #999999;
}
.warning.dim {
  box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 10px 5px #999999;
}
.warning.dim:active {
  box-shadow: inset 0 0 0 #f79d3c, 0 2px 0 0 #f79d3c, 0 5px 3px #999999;
}
.info.dim {
  box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 10px 5px #999999;
}
.info.dim:active {
  box-shadow: inset 0 0 0 #1eacae, 0 2px 0 0 #1eacae, 0 5px 3px #999999;
}
.success.dim {
  box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 10px 5px #999999;
}
.success.dim:active {
  box-shadow: inset 0 0 0 #1872ab, 0 2px 0 0 #1872ab, 0 5px 3px #999999;
}
.danger.dim {
  box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999999;
}
.danger.dim:active {
  box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999999;
}
.dim:before {
  font-size: 50px;
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  display: block;
  padding-top: 10px;
}
.dim:active:before {
  top: 7px;
  font-size: 50px;
}