.AppContainer {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.Main {
  padding-left: 28rem;
  padding-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .Main {
    padding-left: 0;
  }
}
