
.dropdownMenu {
    border: medium none;
    border-radius: 3px;
    min-width: 160px;
    margin: 2px 0 0;
    text-align: left;
    background-clip: padding-box;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    background-color: #fff;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
}
.open {
    display: block;
}


.dropdownMenu>li>a:focus, .dropdownMenu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdownMenu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdownMenu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

a:hover, a:focus {
    text-decoration: none;
}


.mTxs {
    margin-top: 5px;
}


a:hover, a:focus {
    text-decoration: none;
}
.nav-header a {
    color: #DFE4ED;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:active, a:hover {
    outline: 0;
}
li > a {
    position: relative;
    cursor: pointer;
}
.dropdownMenu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdownMenu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
