.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}
.primary,
.primary {
  background-color: #1ab394;
  color: #FFFFFF;
}
.success,
.success {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.warning,
.warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.danger,
.danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.info,
.info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.inverse,
.inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.white,
.white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.white,
.disable {
  background-color: #2A2E36;
  color: #8B91A0;
}

.label,
.badge {
  font-family: 'Roboto';
}

.right {
    float: right!important;
}

.left {
    float: left!important;
}