.li{
    position: relative;
    display: block;
    box-sizing: border-box;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li > a {
    position: relative;
    display: block;
    font-weight: 400;
    color: #676a6c;
    padding: 14px 20px 14px 25px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a i {
    margin-right: 6px;
}

.nav > li > a:hover {
    background-color: inherit;
}
.nav > li > a:hover, .nav > li > a:focus  {
    font-weight: 700;
    color: #5b5d5f;
}
.active{

}
li.active {
    border-left: 4px solid #19aa8d;
    background: #f8f8f9;
}
.secondLevel {
    background-color: inherit;
}
.secondLevel li a {
    padding: 7px 10px 7px 52px;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.arrow, .arrowDown {
    float: right;
    line-height: 1.42857;
}
.fa.arrow:before {
    content: "\F104";
}

.fa.arrowDown:before {
    content: "\F107";
}