/**
 * React Starter Kit (https://www.reactstarterkit.com/)
 *
 * Copyright © 2014-2016 Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

/*! React Starter Kit | MIT License | https://www.reactstarterkit.com/ */

/*
 * Base styles
 * ========================================================================== */

.wrapper {
  margin-top: 0;
  width: 100%;
  overflow-x: hidden;
}


@media (min-width: 768px) {
  .pageWrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 1200px;
  }
}
.pageWrapper {
  margin-top: 60px;
  transition: all 0.4s;
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}


body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

