@import '../../../node_modules/normalize.css/normalize.css';

/*! React Starter Kit | MIT License | https://www.reactstarterkit.com/ */

@import '../../variables.css';

.dropdownMenu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
}
.dropdownMenu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}
.dropdownMenu > .active > a,
.dropdownMenu > .active > a:focus,
.dropdownMenu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1ab394;
  outline: 0;
}
.dropdownMenu > li > a.fontBold {
  font-weight: 600;
}