.wrapper {
    border-top: 0;
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid #e7eaec !important;
    background-color: #ffffff;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb>li {
    display: inline-block;
}
.breadcrumb > li a {
    color: inherit;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
a {
    cursor: pointer;
}
.breadcrumb > .active {
    color: inherit;
}