.gray,
.muted {
  background-color: #f3f3f4;
}
.white {
  background-color: #ffffff;
}
.blue,
.success {
  background-color: #1c84c6;
  color: #ffffff;
}
.navy,
.primary {
  background-color: #1ab394;
  color: #ffffff;
}
.lazur,
.info {
  background-color: #23c6c8;
  color: #ffffff;
}
.yellow,
.warning {
  background-color: #f8ac59;
  color: #ffffff;
}
.red,
.danger {
  background-color: #ed5565;
  color: #ffffff;
}
.black {
  background-color: #262626;
}