
.leftRight {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}
.topBottom {
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}
.left {
  border-left: 1px solid #e7eaec;
}
.right {
  border-right: 1px solid #e7eaec;
}
.top {
  border-top: 1px solid #e7eaec;
}
.bottom {
  border-bottom: 1px solid #e7eaec;
}
.sizesm {
  border-width: 3px;
}
.sizemd {
  border-width: 6px;
}
.sizelg {
  border-width: 9px;
}
.sizexl {
  border-width: 12px;
}
.none {
  border: none !important;
}