
.sm {
  width: 32px;
  height: 32px;
}
.md {
  width: 64px;
  height: 64px;
}
.lg {
  width: 96px;
  height: 96px;
}
.circle {
  border-radius: 50%;
}
.rounded {
    border-radius: 6px;
}
.thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}