.xxs {
  margin: 2px 4px;
}
.m {
  margin: 15px;
}
.xs {
  margin: 5px;
}
.sm {
  margin: 10px;
}
.md {
  margin: 20px;
}
.lg {
  margin: 30px;
}
.xl {
  margin: 50px;
}
.none {
  margin: 0 !important;
}
.leftNone {
  margin-left: 0;
}
.leftxs {
  margin-left: 5px;
}
.leftsm {
  margin-left: 10px;
}
.left {
  margin-left: 15px;
}
.leftmd {
  margin-left: 20px;
}
.leftlg {
  margin-left: 30px;
}
.leftxl {
  margin-left: 40px;
}
.leftNxxs {
  margin-left: -1px;
}
.leftNxs {
  margin-left: -5px;
}
.leftNsm {
  margin-left: -10px;
}
.leftN {
  margin-left: -15px;
}
.leftNmd {
  margin-left: -20px;
}
.leftNlg {
  margin-left: -30px;
}
.leftNxl {
  margin-left: -40px;
}
.topNone {
  margin-top: 0;
}
.topxxs {
  margin-top: 1px;
}
.topxs {
  margin-top: 5px;
}
.topsm {
  margin-top: 10px;
}
.top {
  margin-top: 15px;
}
.topmd {
  margin-top: 20px;
}
.toplg {
  margin-top: 30px;
}
.topxl {
  margin-top: 40px;
}
.topNxxs {
  margin-top: -1px;
}
.topNxs {
  margin-top: -5px;
}
.topNsm {
  margin-top: -10px;
}
.topN {
  margin-top: -15px;
}
.topNmd {
  margin-top: -20px;
}
.topNlg {
  margin-top: -30px;
}
.topNxl {
  margin-top: -40px;
}
.rightNone {
  margin-right: 0;
}
.rightxxs {
  margin-right: 1px;
}
.rightxs {
  margin-right: 5px;
}
.rightsm {
  margin-right: 10px;
}
.right {
  margin-right: 15px;
}
.rightmd {
  margin-right: 20px;
}
.rightlg {
  margin-right: 30px;
}
.rightxl {
  margin-right: 40px;
}
.rightNxxs {
  margin-right: -1px;
}
.rightNxs {
  margin-right: -5px;
}
.rightNsm {
  margin-right: -10px;
}
.rightN {
  margin-right: -15px;
}
.rightNmd {
  margin-right: -20px;
}
.rightNlg {
  margin-right: -30px;
}
.rightNxl {
  margin-right: -40px;
}
.bottomNone {
  margin-bottom: 0;
}
.bottomxxs {
  margin-bottom: 1px;
}
.bottomxs {
  margin-bottom: 5px;
}
.bottomsm {
  margin-bottom: 10px;
}
.bottom {
  margin-bottom: 15px;
}
.bottommd {
  margin-bottom: 20px;
}
.bottomlg {
  margin-bottom: 30px;
}
.bottomxl {
  margin-bottom: 40px;
}
.bottomNxxs {
  margin-bottom: -1px;
}
.bottomNxs {
  margin-bottom: -5px;
}
.bottomNsm {
  margin-bottom: -10px;
}
.bottomN {
  margin-bottom: -15px;
}
.bottomNmd {
  margin-bottom: -20px;
}
.bottomNlg {
  margin-bottom: -30px;
}
.bottomNxl {
  margin-bottom: -40px;
}