.xxs {
  padding: 5px;
}
.xs {
  padding: 10px;
}
.sm {
  padding: 15px;
}
.m {
  padding: 20px;
}
.md {
  padding: 25px;
}
.lg {
  padding: 30px;
}
.xl {
  padding: 40px;
}
.xsWidth {
  padding: 0 10px;
}
.smWidth {
  padding: 0 15px;
}
.mWidth {
  padding: 0 20px;
}
.mdWidth {
  padding: 0 25px;
}
.lgWidth {
  padding: 0 30px;
}
.xlWidth {
  padding: 0 40px;
}
.xsHeight {
  padding: 10px 0;
}
.smHeight {
  padding: 15px 0;
}
.mHeight {
  padding: 20px 0;
}
.mdHeight {
  padding: 25px 0;
}
.lgHeight {
  padding: 30px 0;
}
.xlHeight {
  padding: 40px 0;
}