/*TEXT COLORS*/
.navy {
  color: #1ab394;
}
.primary {
  color: inherit;
}
.success {
  color: #1c84c6;
}
.info {
  color: #23c6c8;
}
.warning {
  color: #f8ac59;
}
.danger {
  color: #ed5565;
}
.muted {
  color: #888888;
}
.white {
  color: #ffffff;
}
.capitalize {
    text-transform: capitalize;
}
.lowercase {
    text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}