.navbarStaticSide {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.4s;
	margin-top: 60px;
}

@media (min-width: 768px) {
	.navbarStaticSide {
		z-index: 2001;
		position: absolute;
		width: 220px;
	}
}

.navbarDefault {
	background-color: transparent;
	border-color: #2f4050;
}

nav {
	display: block;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-bottom: 60px;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.nav:before {
	display: table;
	content: " ";
}

.nav > li {
	position: relative;
	display: block;
}

.nav > li > a {
	position: relative;
	display: block;
	font-weight: 400;
	color: #676a6c;
	padding: 14px 20px 14px 25px;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}

.nav > li > a i {
	margin-right: 6px;
}

.nav > li.active {
	border-left: 4px solid #19aa8d;
	background: #f8f8f9;
}

.nav > li > a:hover {
	background-color: inherit;
	font-weight: 700;
	color: #5b5d5f;
}

.nav > li > a:focus {
	font-weight: 700;
	color: #5b5d5f;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.navHeader {
	background: url("../patterns/1.png") no-repeat;
	transition: all 0.4s;
	padding: 33px 25px;
}

.logoElement {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: white;
	display: none;
	padding: 18px 0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

b, strong {
	font-weight: 700;
}

.textMuted {
	color: #ffffff;
}

.fontBold {
	font-weight: 600;
}

.block {
	display: block !important;
}

.mTxs {
	margin-top: 5px;
}

.block {
	display: block;
}

.clear {
	display: block;
	overflow: hidden;
}

.navHeader a {
	color: #DFE4ED;
}

a:hover, a:focus {
	text-decoration: none;
}

.scroll {
	z-index: 1;
	position: relative;
	overflow: hidden;
	width: auto;
	height: 100%;
	overflow-y: overlay;
}

.scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: transparent;
	background-color: transparent;
}

.scroll::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
	-webkit-box-shadow: transparent;
	background-color: rgba(26, 179, 148, 0.3);
}

.fixedNav {
	height: 100%;
	position: fixed;
}