.navbarFixedTop{
    background-color: #1ab394 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    transition-duration: 0.4s;
    z-index: 2030;
    border-bottom: none !important;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
}

.navbarFixedTop:before{
    display: table;
    content: " ";
}

.navbarFixedTop:after{
    clear: both;    
    display: table;
    content: " ";
}

.borderBottom {
    border-bottom: 1px solid #e7eaec !important;
}

.navbar {
    border: 0;
}
.fixedNav .minimalizeStyl2 {
    margin: 14px 5px 5px 15px;
}
.btnPrimary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}
.btn {
    border-radius: 3px;
}
.minimalizeStyl2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 15px;
    font-size: 14px;
    float: left;
    border: 1px solid transparent;
}

.btnPrimary:hover, 
.btnPrimary:focus, 
.btnPrimary:active, 
.btnPrimary.active, 
.btnPrimary:active:focus, 
.btnPrimary:active:hover, 
.btnPrimary.active:hover, 
.btnPrimary.active:focus {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.navbarFormCustom {
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
    display: block;
}
.navbarFormCustom .formGroup {
    margin-bottom: 0;
}
.navbarFormCustom  .formControl {
    font-weight: 300;
}
.navbarFormCustom  .formControl {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
}
.formControl, .singleLine {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.formControl:focus, .singleLine:focus {
    border-color: #1ab394;
    box-shadow: none;
}

.formControl::-moz-placeholder {
  color: #ffffff;
}
.formControl::-webkit-input-placeholder {
  color: #ffffff;
}

.navbarTopLinks li {
    display: inline-table;
}

.welcomeMessage {
    color: #ffffff;
    font-weight: 300;
}

.mRsm {
    margin-right: 10px;
}
.textMuted {
    color: #888888;
}

.nav.navbarRight > li > a {
    color: #ffffff;
}
.nav > li > a {
    font-weight: 400;
}
.navbarTopLinks li a {
    padding: 20px 10px;
    min-height: 50px;
}
.nav > li > a {
    color: #676a6c;
    padding: 14px 20px 14px 25px;
}
.nav > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}
.nav.navbarRight > li > a {
    color: #999c9e;
}
.nav.navbarTopLinks a {
    font-size: 14px;
}
.navbarTopLinks li a {
    padding: 20px 10px;
    min-height: 50px;
}
.nav.navbarTopLinks > li > a:hover, .nav.navbarTopLinks > li > a:focus {
    background-color: transparent;
}
.navbarTopLinks li:last-child {
    margin-right: 40px;
}::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
