.navTabs {
    border-bottom: 1px solid #e7eaec;
}
.navTabs > li {
    float: left;
    margin-bottom: -1px;
}
.navTabs li {
    background: none;
    border: none;
}
.navTabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}
.navTabs > li > a i {
    margin-right: 6px;
}

.tabsContainer .navTabs > li.active > a, .tabsContainer .navTabs > li.active > a:hover, .tabsContainer .navTabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabsContainer .navTabs > li.active > a, .tabsContainer .navTabs > li.active > a:hover, .tabsContainer .navTabs > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
}
.navTabs > li.active > a, .navTabs > li.active > a:hover, .navTabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.tabsContainer .tabContent > .tabPanel
{
    display: none;
}
.tabsContainer .tabContent > .active{
    display: block;
}
.tabsContainer .tabPanel .panelBody {
    border-top: none;
}

.tabsContainer .tabPanel .panelBody {
    border-top: none;
}
.tabsContainer .panelBody {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.tabsContainer .tabsLeft .tabPanel .panelBody,
.tabsContainer .tabsRight .tabPanel .panelBody {
  border-top: 1px solid #e7eaec;
}
.tabsContainer .navTabs > li a:hover {
  background: transparent;
  border-color: transparent;
}
.tabsContainer .tabsRight > .navTabs,
.tabsContainer .tabsLeft > .navTabs {
  border-bottom: 0;
}
.tabsContainer .tabsLeft .panelBody {
  position: static;
}
.tabsContainer .tabsLeft > .navTabs,
.tabsContainer .tabsRight > .navTabs {
  width: 20%;
}
.tabsContainer .tabsLeft .panelBody {
  width: 80%;
  margin-left: 20%;
}
.tabsContainer .tabsRight .panelBody {
  width: 80%;
  margin-right: 20%;
}
.tabsContainer .tabsLeft > .navTabs > li,
.tabsContainer .tabsRight > .navTabs > li {
  float: none;
}
.tabsContainer .tabsLeft > .navTabs > li > a,
.tabsContainer .tabsRight > .navTabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabsContainer .tabsLeft > .navTabs {
  float: left;
  margin-right: 19px;
}
.tabsContainer .tabsLeft > .navTabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabsContainer .tabsLeft > .navTabs .active > a,
.tabsContainer .tabsLeft > .navTabs .active > a:hover,
.tabsContainer .tabsLeft > .navTabs .active > a:focus {
  border-color: #e7eaec transparent #e7eaec #e7eaec;
}

.tabsContainer .tabsRight > .navTabs {
  float: right;
  margin-left: 19px;
}
.tabsContainer .tabsRight > .navTabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabsContainer .tabsRight > .navTabs .active > a,
.tabsContainer .tabsRight > .navTabs .active > a:hover,
.tabsContainer .tabsRight > .navTabs .active > a:focus {
  border-color: #e7eaec #e7eaec #e7eaec transparent;
  z-index: 1;
}