.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.bordered {
  border: 1px solid #EBEBEB;
}
.bordered > thead > tr > th,
.bordered > thead > tr > td {
  background-color: #F5F5F6;
  border-bottom-width: 1px;
}
.bordered > thead > tr > th,
.bordered > tbody > tr > th,
.bordered > tfoot > tr > th,
.bordered > thead > tr > td,
.bordered > tbody > tr > td,
.bordered > tfoot > tr > td {
  border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
  border-bottom: 1px solid #DDDDDD;
  vertical-align: bottom;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}